/* header */
#header{
	height: 150px;
}
.nav-top {
    float:right;
	line-height:70px;
} 
.nav-titre {
    float:left;
	line-height:65px;
}
.nav{
	display: inline-flex;
	list-style-type: none;
}
.inactif {
	color: rgba(25, 25, 25, 0.5);
}
.actif {
	font-weight: bold;
}
.logo {
	font-size: 25px;
}
/* Contenu */
html {
    width:960px;
    margin-left:auto;
    margin-right:auto;
	font-family: "Slabo", sans-serif;
	background-color: #D8D8D8;
}
#container{
	float: center;
    margin-bottom: 30px;
}
body {
    margin-left:10px;
    margin-right:10px;
	font-family: "Slabo", sans-serif;
	background-color: #D8D8D8;
}

li {
	padding-right: 10px;
}
h1, h2, h3 {
	text-decoration: underline;
	font-size: 50px;
	font-style: bold;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 20px;
}
a:hover{
	color: black;
}
a {
	color: black;
	text-decoration: none;
}
.texte-portfolio{
margin-bottom:50px;
}
/* formulaire */
form {
    margin-left: 160px;
    width: 540px;
    margin-right: 240px;
	height: 370px;
}
label {
	width: 140px;
	font-weight: bold;
}
input.text, textarea, input.submit {
	width: 380px;
	float: right;
	margin-top: 17px;
	font-size: 30px;
	border: 1px solid white;
}
textarea {
	height: 180px;
	font-size: 20px;
	font-family: "Slabo",sans-serif;
}
label.label{
	float: left;
    text-align: right;
	margin-top: 30px;
	font-size: 22px;
}
input.text{
	height: 40px;
}
label.Madame {
	margin-left: 160px;
}
label.Monsieur {
	margin-left: 35px;
}
input[type="submit"] {
	font-size: 16pt;
	font-weight: bold;
	border: none;
	background-color: transparent; 
	padding: 0;
	font-style: italic;
	text-decoration: underline;
	color: black;
	text-align: right;
}
/* footer */
#footer {
	border-top: 2px solid black;
	width: 940px;
}
.left {
	text-align: left;
	width: 470px;
	float: left;
	margin-top: 15px;
}
.right {
	text-align: right;
	width: 470px;
	float: right;
}


